@using FoodOrderApp.Models
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.Graph.Models
@using Microsoft.Graph

@page "/createOrder"
@inject IHttpClientFactory HttpClientFactory


<h3>Order</h3>

<EditForm Model="@order" OnSubmit="@SubmitOrder">
    <div>
        Nazwa Restauracji:
        <InputText @bind-Value="order.RestaurantName" />
    </div>
    <div>
        Minimalna wartość zamówienia:
        <InputNumber @bind-Value="order.MinCost" />
    </div>
    <div>
        Koszt dostawy:
        <InputNumber @bind-Value="order.DeliveryFee" />
    </div>
    <div>
        Darmowy dowóz od:
        <InputNumber @bind-Value="order.MinCostForFreeDelivery" />
    </div>
    <div>
        Numer telefonu:
        <InputNumber @bind-Value="order.PhoneNumber" />
    </div>
    <div>
        Numer konta bankowego:
        <InputNumber @bind-Value="order.AccountNumber" />
    </div>
    <div>
        <FluentButton Type="ButtonType.Submit">Stwórz zamówienie</FluentButton>
    </div>
</EditForm>

@code {
    [Parameter]
    public string UserId { get; set; }
    private User user;
    public OrderModel order = new OrderModel();
    public string message;

    protected override async Task OnInitializedAsync()
    {
        //user = await GraphClient.Me.GetAsync();

    }
    private async Task SubmitOrder()
    {
        //order.Orderer = user.Id;
        order.Orderer = UserId;
        var httpClient = HttpClientFactory.CreateClient("FoodOrderApi");
        var response = await httpClient.PostAsJsonAsync("api/OrderModels", order);
        //response = await httpClient.GetAsync("api/OrderModels");

        if (response.IsSuccessStatusCode)
        {
            message = "Item added successfully!";
            order = new OrderModel();
        }
        else
        {
            message = "Error adding item.";
        }
    }
}